.headerContainer {
  h2 {
    padding: 20px;
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #d3d3d3;
  }
  p {
    margin: 20px;
    float: right;
    font-size: 0.8rem;
  }
  .logo {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    width: 28px;
    height: 28px;
  }
}
