.container {
  // position: absolute;
  // width: 100%;
  h2 {
    padding: 15px;
    margin-bottom: 30px;
    font-size: 1.6rem;
    color: #000;
  }
  p {
    margin: 10px;
    float: right;
  }

  .containerBox {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    grid-gap: 10px;
    .box {
      width: 100%;
      padding: 10px;
      h3 {
        text-align: center;
        padding-bottom: 4px;
      }
      hr {
        margin: 0 auto;
        width: 80%;
      }
      ul {
        padding-top: 20px;
        li {
          padding: 5px;
        }
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  p {
    text-align: center;
    padding: 10px;
  }
}
