/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  color: #aeb1b0;
  height: 100vh;
  background-color: #002b36;
  background-image: linear-gradient(
    90deg,
    rgba(4, 131, 163, 0.5) 10%,
    rgba(0, 43, 54, 0.7)
  );
  // overflow-y: hidden;
}

h1,
h2,
h3,
h4,
a,
p,
li,
span,
button {
  font-family: "Roboto";
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.025em;
}

li {
  list-style: none;
}

// a {
//   color: white;
//   opacity: 0.75;
//   text-decoration: none;
// }

// a:hover {
//   opacity: 1;
//   text-decoration: none;
//   cursor: pointer;
// }
