// custom scroll-bar
@mixin custom-scroll-bar() {
    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 3px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #084658;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #002b36;
    }
}

.container {
    min-height: 660px;
    width: 100%;
    .containerBox {
        align-content: space-between;
        justify-content: space-around;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        grid-template-rows: auto;
        grid-gap: 10px;
        .box {
            width: 100%;
            padding: 10px;
            a {
                text-decoration: none;
                color: inherit;
                .externalLink {
                    float: right;
                    padding-right: 25px;
                    margin-top: -20px;
                    width: 14px;
                    height: 14px;
                }
            }
            h3 {
                text-align: center;
                padding-bottom: 8px;
                font-weight: 200;
                font-size: 1.2rem;
                color: #d3d3d3;
            }
            hr {
                margin: 0 auto;
                opacity: 0.1;
                width: 70%;
            }
            nav {
                height: 250px;
                overflow: auto;
                @include custom-scroll-bar();
         }

         ul {
             margin-left: 30px;
             padding-top: 20px;
             li {
                 padding: 5px;
                 font-size: 0.9rem;
                 &:hover {
                     font-weight: 200;
                     color: #dfdbdb;
                 }
             }
         }

         }

         }

         }
